* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b6f1a6;
}

.food-pic-container {
  height: 300px;
  width: 500px;
  /* center the food pic within this container */
  margin: auto;
}

.food-pic {
  height: 100%; /* occupy 100% of the height set in the container */
  width: 100%; /* occupy 100% of the width set in the container */
  object-fit: contain; /*  */
}

.title {
  text-align: center;
  font-weight: 700;
  color: #34721F;
}

.header-section {
  color:#0b7403;
  font-style: italic;
}

.new-section {
  margin: 20px;
}

