* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b6f1a6;
}

.food-pic-container {
  height: 300px;
  width: 500px;
  /* center the food pic within this container */
  margin: auto;
}

.food-pic {
  /* How to resize picture without losing aspect ratio 
  -- keep height: auto, then resize width only */
  height: auto;
  width: 500px;
}

.stir-fry-pic {
  height: 300px;
  width: 500px;
  object-fit: contain;
}

.title {
  text-align: center;
  font-weight: 700;
  color: #34721F;
}

.header-section {
  color:#0b7403;
  font-style: italic;
}

.new-section {
  margin: 20px;
}

