* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b6f1a6;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}



.title {
  text-align: center;
  color: #34721F;
}

.homepage-recipes {
  box-sizing: border-box; 
  margin: auto;
  width: 350px;
  text-align: center;
}

.hpr-link-buttons {
  display: block;
  padding: 20px 10px;
  margin: 10px;
  background-color: bisque;
  border-radius: 15px;
}

.hpr-link-buttons:hover {
  background-color: beige;
}