* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b6f1a6;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
/* ----------------------- */

.title {
  text-align: center;
  color: #34721F;
}

.list-of-recipes {
  font-size: 22px;
  list-style-type: none;
  /* alternative box-model for the list-sizing */
  box-sizing: border-box; 
  margin: auto;
  width: 350px;
}

/* .homepage-recipe-styling-per-recipe-list {
  border-style: outset;
  padding: 20px 10px;
  margin: 20px;
} */

.homepage-recipe-buttons {
  background-color: bisque;
  display: block;
  padding: 20px 10px;
  margin: 20px;
}

.homepage-recipe-buttons:hover {
  background-color: beige;
}